/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body {
    font-family: "Withney", sans-seriff;
}
.container {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
    line-height: 70px;
}

/* titoli */
.title {
    font-size: 50px;
    line-height: 40px;
}

.text {
    font-size: 22px;
    margin-top: 25px;
}
/* buttons */
.btn {
    text-decoration: none;
    border-radius: 40px;
    line-height: normal;

}
.small {
    padding: 10px 14px;
    font-size: 14px;
}

.big {
    padding: 20px 28px;
    font-size: 20px;
    margin: 15px 15px;
}

.btn-white {
    color: black;
    background-color: white;
}
.btn-black {
    color: white;
    background-color: black;
}

.btn-purple {
    color: white;
    background-color: #8ea1e1;
}

.final-section-buttons {
    margin-top: 50px;

}


/* layout generic class */
.col {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* HEADER */
header {
    background-color: #3161e0;
    color: white;
    /* test */
    height: 80px;
}

nav {
    line-height: 80px;
}
/* colonne header */

.logo,
.login {
    width: 10%;
    /* test */
    height: 80px;
}

.logo img {
    vertical-align: middle;
}

.central-menu {
    width: 80%;
    text-align: center;
}

.top-menu {
    list-style-type: none;
    
}
 
.top-menu li {
    display: inline-block;
    margin: 0 15px;


}

.top-menu a {
    text-decoration: none;
    color: white;
}

.login {
    text-align: right;
}

/* MAIN */
.jumbotron {
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 180px 0;
}

.jumbotron-content {
    width: 50%;
    margin: auto;
    color: white;
}

.jumbotron-content h1,
.jumbotron-content p  {
    margin-bottom: 60px;
}

/* advatages */
section {
    margin-top: 220px;
    margin-bottom: 220px;
}
.col-img {
    width: 65%;
    padding: 0 60px;
}

.col-text {
    width: 35%;
    text-align: left;

}
/* advantages specular */
.section-specular {
    margin: 100px;
}
.advantages .col-img-specular {
    width: 65%;
    padding: 0 60px;
}

.col-text-specular {
    width: 35%;
    text-align: left;
}

.final-section-content {
    width: 70%;
    margin: auto;
    text-align: center;
}

.final-section-content h1,
.final-section-content p  {
    margin-bottom: 60px;
}

.final-photo {
    width: 100%;
}

.starred {
    background-image: url("../img/stars.svg");
    background-size: contain;
    font-size: 40px;
}

footer {
    background-color: #23272a ;
    
    
}
 .flag {
     display: inline-block;
     width: 3%;
 }

 .italian-flag {
    display: inline-block;
 }

 .col-img-footer {
    width: 50%;
    color: white;
    
}

.central-menu-footer {
    width: 50%;
    text-align: center;
}


.logo-footer,
.login-footer {
    width: 20%;
    /* test */
    height: 80px;
}

.col-right {
    float: right;
}

.top-menu-footer{
    text-decoration: none;
}

.top-menu-footer li {
    display: inline-block;
    margin: 0 15px;


}

.top-menu-footer a {
    text-decoration: none;
    color: white;
}

.col-footer {
    width: 17,5%;
    /* test */
    height: 50px;
    background-color: tomato;
}

.col-footer-big {
    width: 30%;
    color: white;
    background-color: yellow;
    
    
}